.tab{
    width: 100%;
    line-height: 15vw; 
}
.tab span{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
.tabChild{
    display: inline-block;
    width: 50%;
    text-align: center;
    /* color: #222; */
    font-size: 14px;
    box-sizing: border-box;
    font-family: "微软雅黑";
    /* border-bottom: 1px solid #fff; */
    color: rgb(238, 143, 20);
    border-bottom-color: rgb(238, 143, 20);
} 
.will{
    background-color: #fff;
}
/* .will:hover{
    color: rgb(238, 143, 20);
    border-bottom-color: rgb(238, 143, 20);
} */
.now{
    background-color: #fff;
}
/* .now:hover{
   
} */